table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.button-margin {
  margin-right: 30px; /* Ajusta el valor del margen según lo desees */
}
